section {
    width: 100%;
}

.section_mid {
    max-width: 1550px;
    height: 80vh;
    margin: auto;
    // border: 1 px solid red;
    display: flex;
    gap: 4px;
    padding-bottom: 5px;
    border-radius: 25px;
}

.section_mid_left {
    flex-basis: 23%;
    // border: 1px solid red;
    background-color: #121212;
}


// Div Content 1
.divcontent1 {
    flex-basis: 100%;
    background-color: #121212;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // border: 1px solid red;
    color: #B3B3B3;
    padding: 25px 5px;

}

.divcontent1 button {
    display: flex;
    gap: 5px;
    // margin-left: 10px;
    align-items: center;
    background: #121212;
    color: #B3B3B3;
    border: none;
}

.divcontent1 button>p {
    font-size: 16px;
    background: #121212;
}

.divcontent1_2>i {
    background: #121212;
    color: #B3B3B3;
    border: none;
    outline: none;

}

// Div Content 1 End

// Div Content 2 Start

.divcontent2 {
    flex-basis: 95%;
    // border: 1px solid orange;
    // overflow-y: scroll; 
    display: flex;
    flex-direction: column;
    gap:17px;
    background: #121212;
    padding: 10px 0px;


}
.divcontent2_top, .divcontent2_bottom{
    padding: 16px;
    background-color: #1F1F1F;
    border-radius: 15px;
}
.divcontent2_top>div>h3, .divcontent2_bottom>div>h3{
    color: white;
    padding: 12px 0px;
    background-color: #1F1F1F;
}

.divcontent2_top>div>h5, .divcontent2_bottom>div>h5 {
    color: white;
    background-color: #1F1F1F;
    // padding-left: 10px;
    padding-bottom: 10px;
}
.divcontent2_top>div, .divcontent2_bottom>div
{
    
    background-color: #1F1F1F;
}
.divcontent2_top>div>button, .divcontent2_bottom>div>button{
    background-color: white;
 
    padding: 8px 16px;
    font-weight: bold;
    border: none;
    border-radius: 25px;
   
}
// Div Content 2 End

// Div Content 3 & 4 Start

.divcontent3, .divcontent3_bottom
{
    background: #121212;
}
.divcontent3_top nav ul{
    display: flex;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 15px;
    gap: 15px;
    font-size: 12px;
    background: #121212;
}
.divcontent3_top nav ul li a, .divcontent3_center nav ul li a{
    background: #121212;
    color: white;
    
}
.divcontent3_bottom b a
{
    background: #121212;
    color: white;
    padding-left: 15px;
}
.divcontent3_center nav ul
{
    display: flex;
    padding-left: 15px;
    padding-bottom: 15px;
    gap: 15px;
    font-size: 12px;
    background: #121212;
}
.divcontent4
{
    background: #121212;
    padding-top: 20px;
    padding-left: 15px;
    
}
.divcontent4> button{
    background-color: white;
    
    padding: 8px 16px;
    font-weight: bold;
    border: none;
    border-radius: 25px;
}
.divcontent4>button>i{
    color: black;
    padding-right: 10px;
    background-color: white;
}
// Div Content 3 & 4 End



// Right Part Images Start

.section_mid_right {
    flex-basis: 85%;
    // border: 1px solid red;
    background-color: #121212;
    overflow-y: scroll;
  
}
.heading
{
    display: flex;
    justify-content: space-between;
    margin: 10px 10px;
}
.heading>p{
    color: white;
    font-size: 25px;
    text-transform: capitalize;
}
.heading>span{
    color: #B3B3B3;
}
.images
{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.imagesContent, .imagesContent1
{
    flex-basis: 16%;
    margin: 1%;
  
    position: relative;
    transition: 0.5s;
}
.imagesContent:hover, .imagesContent1:hover{
    
    background-color: #343131;
    border-radius: 10px;
    cursor: pointer;
    
}
.imagesContent h4, .imagesContent1 h4{
    color: white;
    margin: 8px 5px;
}
.imagesContent span, .imagesContent1 span{
    color: #ccc;
    font-size: 14px;
    margin: 8px 5px;
}
.imagesContent img
{
    width: 100%;
    border-radius: 50%;
}
.fa-play
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(82, 243, 82);
    position: absolute;
    right: 10%;
    top: 50%;
    // color: black;
    text-align: center;
    line-height: 50px;
    transition: 0.2s;
    transform-origin: bottom;
    transform: scaleY(0)
}
.imagesContent:hover .fa-play, .imagesContent1:hover .fa-play{
    transform: scaleY(1);
}
.imagesContent1_1:hover
{
    display: none;
}
.section_mid_right2
{
    margin-top: 35px;
}

// Footer
.footer{
    margin-top: 20px;
    width: 100%;
    // border: 1px solid red;
    // height: 150px
}
.footer1
{
    display: flex;
    justify-content: space-between;
}
.footer1_1, .footer1_2, .footer1_3, .footer1_4, .footer1_5{
    flex-basis: 19%;
    margin: 1%;
    // border: 1px solid green;
}
.foot nav ul li:first-child{
    color: white;
}
.foot1 nav ul li{
    padding: 5px 0px;
    color: #B3B3B3;
}
.brdr2
{
    padding-top: 25px;
    width: 100%;
    box-shadow: 0px 0px 0px 0.5px #ccc;
}
.landmark
{
    color: #B3B3B3;
}
.footer1_5 nav ul
{
    display: flex;
    gap: 18px;
    
}
.footer1_5 nav ul li i{
    padding: 10px;
    border-radius: 50%;
    background-color: #343131;
    color: white;
}