.main {
    width: 100%;
}

.mainmid {
    max-width: 1530px;
    margin: auto;
    border: 1 px solid red;
    display: flex;
    gap: 4px;
}

.section_left {
    width: 27%;
    // height: 80vh;
    background-color: #121212;
    border-radius: 12px;
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
}

.divcontent1 {
    flex-basis: 100%;
    background-color: #121212;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid red;
    color: #B3B3B3;
    padding: 25px 5px;

}

.divcontent1 button {
    display: flex;
    gap: 5px;
    // margin-left: 10px;
    align-items: center;
    background: #121212;
    color: #B3B3B3;
    border: none;
}

.divcontent1 button>p {
    font-size: 16px;
    background: #121212;
}

.divcontent1_2>i {
    background: #121212;
    color: #B3B3B3;
    border: none;
    outline: none;

}

.divcontent2 {
    flex-basis: 100%;
    background-color: #121212;
    border: 1px solid red;
}

.divcontent2mid {
    width: 98%;
    margin: auto;
    background: #1F1F1F;
    padding: 18px 5px;
    border-radius: 12px;
}
.divcontent2mid>h3, .divcontent2mid>h5, .divcontent3mid>h3, .divcontent3mid>h5{
    color: white;
    background: #1F1F1F;
}
.divcontent2mid>h3, .divcontent3mid>h3
{
    font-size: 16px;
    padding-bottom: 8px;
}
.divcontent2mid>h5, .divcontent3mid>h5
{
    font-size: 16px;
    padding-bottom: 15px;
}
.divcontent2mid>button, .divcontent3mid>button
{
    border: none;
    color: black;
    background: white;
    padding: 8px 15px;
    border-radius: 15px;

}
.divcontent3 {
    flex-basis: 100%;
    background-color: #121212;
    border: 1px solid red;
}

.divcontent3mid {
    width: 98%;
    margin: auto;
    background: #1F1F1F;
    padding: 18px 5px;
    border-radius: 12px;
}

.divcontent4 {
    flex-basis: 100%;
    background-color: #121212;
    border: 1px solid red;
}

.section_right {
    width: 73%;
    // height: 80vh;
    background-color: #121212;
    border-radius: 12px;
    border: 1px solid orange;
    overflow-y: scroll;
}